.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
CyberJudgment/Assets/LeartesStudios/CyberpunkGigapack/Art/Meshes/ExtraMeshes/SM_MERGED_BP_TowerA880.FBX
CyberJudgment/Assets/LeartesStudios/Textures/Props/T_kloppenheim_02_8k.HDR
CyberJudgment/Assets/LeartesStudios/Textures/Cyberpunk_Restaurant/T_industrial_sunset_8k.HDR
CyberJudgment/Assets/AmplifyShaderPack/Assets/Texture/Monkey/Monkey_Hair_N.png
CyberJudgment/Assets/Monsters Full Pack Vol 1/Monsters Pack Vol 3/Clypeosaurus/Textures/T_Clypeosaurus_MetallicSmoothness.tga
