.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
CyberJudgment/Assets/LeartesStudios/CyberpunkGigapack/Art/Meshes/ExtraMeshes/SM_MERGED_BP_TowerA880.FBX
CyberJudgment/Assets/LeartesStudios/Textures/Props/T_kloppenheim_02_8k.HDR
CyberJudgment/Assets/LeartesStudios/Textures/Cyberpunk_Restaurant/T_industrial_sunset_8k.HDR
CyberJudgment/Assets/AmplifyShaderPack/Assets/Texture/Monkey/Monkey_Hair_N.png
CyberJudgment/Assets/Monsters Full Pack Vol 1/Monsters Pack Vol 3/Clypeosaurus/Textures/T_Clypeosaurus_MetallicSmoothness.tga
CyberJudgment/Assets/HighCity/Materials/ClearSky.psd
CyberJudgment/Assets/HighCity/PostProcessing/Textures.meta
CyberJudgment/Assets/HighCity/Textures

CyberJudgment/Assets/NeonAlienWorld/Textures/cliff-normal.png
CyberJudgment/Assets/ThirdParty/Model/MapModel/HighCity/Prefab/vehicle
CyberJudgment/Assets/ThirdParty/Model/MapModel/HighCity/Textures

CyberJudgment/Assets/ThirdParty/Model/MapModel/LeartesStudios/CyberpunkGigapack/Art/Meshes/ExtraMeshes/SM_MERGED_BP_TowerA880.FBX
CyberJudgment/Assets/ThirdParty/Model/MapModel/LeartesStudios/CyberpunkGigapack/Art/Meshes/ExtraMeshes/SM_MERGED_BP_TowerA705.FBX.meta

CyberJudgment/Assets/ThirdParty/Model/MapModel/NeonAlienWorld/Textures/cliff-normal.png
CyberJudgment/Assets/ThirdParty/Model/CharactorModel/Fantasy/Monsters Pack Vol 3/Clypeosaurus/Textures/T_Clypeosaurus_MetallicSmoothness.tga
CyberJudgment/Assets/ThirdParty/Model/CharactorModel/Monsters Full Pack Vol 1/Monsters Pack Vol 3/Clypeosaurus/Textures/T_Clypeosaurus_MetallicSmoothness.tga

/CyberJudgment/Assets/ThirdParty/Archanor
/CyberJudgment/Assets/ThirdParty/CameraEffect/FronkonGames
/CyberJudgment/Assets/ThirdParty/Effects/Piloto Studio/Piloto Studio/Auras_Vol_2
/CyberJudgment/Assets/ThirdParty/Model/MapModel/BK/PureNature_AsianValley
/CyberJudgment/Assets/ThirdParty/Model/MapModel/BK/PureNature_Oasis
/CyberJudgment/Assets/ThirdParty/Sounds/DialogTextVolumeII
/CyberJudgment/Assets/ThirdParty/Sounds/Environment Sounds
/CyberJudgment/Assets/ThirdParty/INab Studio/*
!/CyberJudgment/Assets/ThirdParty/INab Studio/Vfx Assets
!/CyberJudgment/Assets/ThirdParty/INab Studio/Vfx Assets.meta
/CyberJudgment/Assets/ThirdParty/BambooPath
/CyberJudgment/Assets/ThirdParty/JapaneseHouseAndGarden

CyberJudgment/Assets/ThirdParty/Toon Enchanted Meadow/BuiltIn_Toon Enchanted Meadow_2022.3.0.unitypackage
CyberJudgment/Assets/ThirdParty/Toon Enchanted Meadow/URP_Toon Enchanted Meadow_2022.3.0.unitypackage
CyberJudgment/Assets/ThirdParty/Toon Enchanted Meadow/Textures/TEM_Atlas_1A_Source.psd
CyberJudgment/Assets/ThirdParty/Toon Enchanted Meadow/Textures/TEM_Atlas_Vegetation_1A_Source.psd
CyberJudgment/Assets/ThirdParty/Toon Enchanted Meadow/Textures/TEM_Atlas_Vegetation_1B_Source.psd
CyberJudgment/Assets/ThirdParty/ToonScapes/Spring Isles/Skybox/Textures/TSI_Skybox_Background_01A.tga
CyberJudgment/Assets/ThirdParty/ToonScapes/Spring Isles/Skybox/Textures/TSI_Skybox_Midground_01A.tga
CyberJudgment/Assets/HAYASHIResources/Scene/NeonSanctuary/OcclusionCullingData.asset
CyberJudgment/Assets/HAYASHIResources/Scene/SanctuaryofSpiritualBamboo/OcclusionCullingData.asset
CyberJudgment/Assets/ThirdParty/Font/NotoSerifJP-Medium SDF.asset
CyberJudgment/Assets/ThirdParty/Font/NotoSerifJP-Medium SDF Bloom.asset
CyberJudgment/Assets/ThirdParty/Font/TitleLogo.asset
